body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pa2 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;

  margin-left: 2rem;
  width: 75%;
}

.pa2 input {
  height: 32px;
  width: 100%;
  padding: 0px 12px 0px 12px;
}

.tc {
  width: 100%;
  border: 15px solid white;
  padding: 50px;
  margin: 20px;
}

.ImageListItemBar title {
  font-size: 5rem;
}

.pagination {
  margin-top: 45px;
  margin-left: -40px;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}

.pagination > .active > a {
  background-color: #47ccde;
  color: #fff;
}

.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
  background-color: azure;
}

.card {
  position: relative;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100px !important;
  height: 100px !important;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  /*width: 50px;
  height: 50px;
  border: 10px solid red; /* Light grey */
  /*border-top: 10px solid #383636; /* Black */
  /*border-radius: 50%;
  animation: spinner 1.5s linear infinite;*/
  animation: "border" variant= "primary" linear infinite;
}

.ic2-fa-spin-blue {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  border: 3px solid #008ad6;
  border-radius: 50%;
  border-top: 3px solid #f3f3f3;
  width: 20px;
  height: 20px;
  -webkit-animation: ic2-spin 2s linear infinite; /* Safari */
  animation: ic2-spin 2s linear infinite;
  -moz-animation: ic2-spin 2s infinite linear;
  -o-animation: ic2-spin 2s infinite linear;
  /*position: absolute;
  /*margin-left:1em;*/
  /*margin-top: 6px;
  margin-right: auto;
  margin-left: auto;*/
  display: block;
  position: absolute;
}
@-webkit-keyframes ic2-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ic2-outlined-spin-blue-btn {
  color: #a3deff;
  border: 1px solid #008ad6;
}
.ic2-outlined-btn {
  border-radius: 3px;
  background-color: var(--white-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  /*line-height: 32px;*/
  text-align: var(--button-alignment);
  padding: 0px 16px;
  border-radius: 3px;
  width: auto;
  word-spacing: 8px;
  height: 32px;
}

p {
  color: blue;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  animation: spin 1s linear infinite;
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}
.header-dark {
  background: #baaae6;
  color: white;
  padding: 10px;
}
h1 {
  color: rgb(0, 55, 255);
  font-size: 5rem;
  font-family: ui-rounded;
  text-align: center;
}

.sort {
  background-color: #3498db;
  width: 175px;
  height: 65px;
  margin: 20px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 1px 2px #5e5d5b;
  text-align: center;
  font-size: 2rem;
  line-height: 65px;
}
